* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

body {
    font-family: sans-serif;
}
nav {
    background: #222;
    padding: 5px 20px;
}
 
ul {
    list-style-type: none;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.menu li {
     font-size: 16px;
     padding: 15px 15px;
}

.menu li a {
    display: block;

}

.logo a{
    font-size: 20px;
}

.button.secondary {
    border-bottom: 1px #4444 solid;
}

/* Mobile Menu */

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toogle{
    order: 1;
}
 .item.button {
    order: 2;
 }
 
 .item{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
 }
 .item.active{
    display: block;
 }


.toggle {
    cursor: pointer;

}

.bars {
    background: #9999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}

.bars::before, .bars::after {
    background: #9999;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}

.bars::before{
    top: 5px;

}

.bars::after{
    top: -5px;
}


/* Tablet Menu */

@media all and (min-width:468px)
{
    .menu{
        justify-content: center;

    }
    .logo{
        flex: 1;
    }
    .item.button{
        width: auto;
        order: 1;
        display: block;
    }

    .toggle{
        order: 2;
    }

    .button.secondary{
        border: 0;
    }

    .button a{
        padding: 7px 15px;
        background: teal;
        border: 1px solid teal;
        border-radius: 50em;
    }

    .button.secondary a{
        background: transparent;
    }
    .button a:hover{
        transition: all .25s;
    }

    .button:not(.secondary) a:hover{
        background: #006d6d;
        border-color: #005959;
    }

    .button.secondary a:hover{
        color: #ddd;
    }
}

@media all and (min-width: 768px) {
    item{
        display: block;
        width: auto;
    }

    .toggle{
        display: none;
    }

    .logo{
        order: 0;
    }

    .item{
        order: 1;
    }

    .button{
        order: 2;
    }

    .menu li{
        padding: 15px 10px;

    }

    .menu li.button{
        padding-right: 0;
    }
}

#main {
    padding-top: 20px;
    justify-content: center;
    position: relative;
}

.h2 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 10px 10px;
    background: olivedrab;

}

.par {
    font-size: 2em;
    font-family: Arial, sans-serif;
    margin-top: 10px;
    margin-left: 20px;
    padding: 3px;
    color: rgb(255, 0, 149);
}

img {
    width: 250px;
    height: 520px;
    margin: 10px 0px 40px 40px;
    
}